backend/models/custom/*.pkl filter=lfs diff=lfs merge=lfs -text
backend/models/secbert_tram/*.safetensors filter=lfs diff=lfs merge=lfs -text
backend/data/raw/kaggle_cve2/*.csv filter=lfs diff=lfs merge=lfs -text
